.Contenedor_imagen{
    width:50vw;

    float:left;
    min-height: 100vh;
}

.Contenedor{
    width:50vw;
    min-height: 100vh;
    background-color: white;
    float: right;
}

.Imagen_fondo{
    height: 100vh;
    width: 50vw;
}

body{
    height: 100vh;
    width: 100vw;
    margin:0;
}

.Menu_superior{
    min-height: 10vh;
    min-height: 10vh;

}

.Enlaces{
    margin-top: 30px;
    font-size: 20px;
    color:gray;
    text-decoration: none;

}

.Logo{
    margin-top: 1vh;
    margin-left: 1vh;
    float:left;
    height: 9vh;
    width: 120px;
}

