{% extends 'layouts/nav_login.html' %}
{% load static %}
{% block content %}

<div >
	<div style="background:#D4CCCC; width: 38vw; border-radius: 40px; min-height: 65vh; margin-left: 4vw; text-align: center;">
		{% if datos.message %}
			<div class="alert alert-danger" role="alert">
				{{datos.message}}
			</div>
		{% endif %}

		<h1>Recuperar contraseña</h1>


		<img  style = "width: 250px; height: 250px; margin-bottom: 10%;" src="{% static 'images/logo.png' %}">
		<br></br>
		<h3>Se ha enviado un correo con las instrucciones</h3>

	</div>
</div>



{% endblock %}

